.swiper-button-prev, .swiper-button-next{
    color: white;
}

.swiper-pagination-bullet{
    opacity: 1;
    background-color: black;
}

.swiper-pagination-bullet-active{
    background-color: #ff0009;
}

.movieList .swiper-button-prev, .movieList .swiper-button-next{
    --swiper-navigation-size: 30px;
}