

:root {
    --accent-2: #EC2F4B;
    --text-hover: var(--accent-2);
    --text-active: #FFFFFF;
  }
    
  .hidden-toggles {
      height: 2.75em;
      width: 20em;
  
      display: flex;
      justify-content: space-between;
  
      > * {
          flex: 0 0 33.33%;
      }
  
      
  }
  
  .hidden-toggles__input {
      display: none;
      &:checked + .hidden-toggles__label {
          background-color: var(--accent-2);
          color: var(--text-active); 
      }  
  }
  
  .hidden-toggles__label {
      display: flex;
      align-items: center;
      justify-content: space-around;
      &:hover {
          color: var(--text-hover);
      }
  }
  