@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #303030;
}

/* Handle */
 ::-webkit-scrollbar-thumb {
    background: #ff0009;
    border-radius: 5px;
}

/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #ad0006;
}

